@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

/* COLORS */
:root {
  --background: #545454;
  --hoveredItem: #000;
  --textColor: #F6F6F6;
  --item: #333;
  --selectedItem: #3E6250;
  --titleItem: #5AB075;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4rem;
}